* {
    /*border: 1px solid red;*/
}
html, body {
    margin: 0;
    padding: 0;
    font-size: 10px;

    background-color: rgb(248,243,234);
    color: rgb(1,47,57);

    overflow: hidden;
}

.container {
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    max-height: 100vh;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;

    font-size: 3.5rem;
}
.home__logo {
    display: flex;
    align-items: center;
    flex-direction: column;
}
h1 {
    font-family: 'DM Serif Text', serif;
}
.logo__rect {
    width: 5rem;
    height: 5rem;
    background-color: rgb(255,216,213);
    transform: translateX(-1.5rem);
}
.logo__rect::after {
    width: 5rem;
    height: 5rem;
    content: ' ';
    display: inline-block;
    transform: translate(2.5rem, 2.5rem);
    background-color: rgb(0,166,157);
}
