* {
    /*border: 1px red solid;*/

    box-sizing: border-box;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
html {
    font-size: 10px;
}
body {
    overflow: hidden;

    color: white;
    background-color: rgb(143, 144, 137);
}

 /* Header stuff */
header {
    height: 10vh;
    display: flex;
    flex-direction: row;
    padding: 0 60px;
    overflow-y: hidden;

    font-size: 2rem;
    transform: translateX(45%);
    align-items: flex-end;
}
header h1 {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    flex: 1;
}
header a {
    text-transform: uppercase;
    flex: 2;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1rem;
    font-weight: 400;
    color: white;
    text-decoration: none;
}

/* main section stuff */
main {
    position: absolute;
    z-index: 100000;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;
    max-width:100%;
    max-height:100%;
}
.container {
    padding: 15% 20%;
    height: 80vh;
}

/* Background image stuff */
.body-image__wrapper {
   position: relative;
   width: 100vw;
   height: 100vh;
}
.body-image {
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

/* footer stuff */
footer{
    box-sizing: border-box;
    height: 10vh;
    display: flex;
    flex-direction: row;

    align-items: flex-end;
}
