@import url('https://fonts.googleapis.com/css?family=Open+Sans:800&display=swap');

html {
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    padding: 0;
    
    background-color: rgb(40, 46, 55);
    overflow: hidden;
    font-family: 'Open Sans';
}
main {
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;
    color: white;
}
h1 {
    overflow: hidden;
    text-align: center;
    font-size: 20rem;

    display: flex;
    flex-direction: row;
    justify-content: center;
}
.image_wrapper {
    position: absolute;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;

    max-width: 100%;
    max-height: 100%;

    overflow: hidden;
}
.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
